# Backend Node modules
/backend/node_modules/

# Environment files
/backend/config/config.env
/backend/.env

# Logs
/backend/logs
/backend*.log
/backend/npm-debug.log*
/backend/pnpm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

# Build / output folders
/backend/dist/
/backend/build/
/backend/public/

# Uploaded files (optional)
/backend/uploads/
/backend/public/

# OS / Editor files
/.DS_Store
/Thumbs.db

# Runtime data
/backend/pids
/backend*.pid
/backend*.seed
/backend*.pid.lock

# IDE folders
/.vscode/
/.idea/
